@model PaymentsAPIClient.Models.JwtLoginViewModel


@{
    ViewBag.Title = "Login";
    var returnUrl = Request.QueryString["returnurl"];
    //var defaultJwtToken = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE1MjUxNzI2MTUsImV4cCI6MTU1OTM4NzAxNSwiYXVkIjoid3d3Lmh0dHA6Ly9sb2NhbGhvc3Q6MzI1NjciLCJzdWIiOiJhcnZpbmQua3VtYXJAc3RyZWFtYW1nLmNvbSIsImlkIjoiMTAxIiwiZmlyc3RuYW1lIjoiYXJ2aW5kIiwibGFzdG5hbWUiOiJLdW1hciIsImVtYWlsIjoiYXJ2aW5kLmt1bWFyQHN0cmVhbWFtZy5jb20ifQ.rhTTMpvXh4v5O--s8uitkRxvdfJ0wxNEUdGbprH4ob8";
    //var defaultJwtToken = "TEst----eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJPbmxpbmUgSldUIEJ1aWxkZXIiLCJpYXQiOjE1MjU3Njk1NTYsImV4cCI6MTU1OTk4Mzk1NiwiYXVkIjoiaHR0cDovL2xvY2FsaG9zdDozNTg4Iiwic3ViIjoiaHR0cDovL2xvY2FsaG9zdDo1MDM3NiIsImlkIjoiMTAxIiwiZmlyc3RuYW1lIjoiQXJ2aW5kIiwibGFzdG5hbWUiOiJLdW1hciIsImVtYWlsIjoiYXJ2aW5kLmt1bWFyQHN0cmVhbWFtZy5jb20ifQ.nrm5MeNlSSDV9Ki1jcV5ZCl9kmdNuys3SzqJCoZzHyk";
    var defaultJwtToken = "eyJraWQiOiJlREN5U3RUem9yOWkyM0YrRTFURjFMbWN4ZTl3OE5WWnhoRStuN1VEUTBZPSIsImFsZyI6IlJTMjU2In0.eyJzdWIiOiIwZDhiODM0Mi03NzFhLTRmYmItYTU2My1mODkzNGQxMTg2ODciLCJjdXN0b206cGFydG5lcl9zbXMiOiJ0cnVlIiwiaXNzIjoiaHR0cHM6XC9cL2NvZ25pdG8taWRwLmV1LXdlc3QtMS5hbWF6b25hd3MuY29tXC9ldS13ZXN0LTFfWTV0blZlOUdsIiwiY3VzdG9tOmNsdWJfc21zIjoidHJ1ZSIsImF1dGhfdGltZSI6MTU1MTA5ODYzMCwiY3VzdG9tOnBhcnRuZXJfZW1haWwiOiJ0cnVlIiwiZXhwIjoxNTUxMTAyMjMwLCJpYXQiOjE1NTEwOTg2MzAsImVtYWlsIjoibUBydGluZC51ayIsImN1c3RvbTpwYXJ0bmVyX2RpcmVjdCI6InRydWUiLCJjdXN0b206Y2x1Yl9kaXJlY3QiOiJ0cnVlIiwiY3VzdG9tOmNsdWJfZW1haWwiOiJ0cnVlIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImN1c3RvbTpwYXJ0bmVyX2NvbnRhY3QiOiJ0cnVlIiwicGhvbmVfbnVtYmVyX3ZlcmlmaWVkIjpmYWxzZSwiY29nbml0bzp1c2VybmFtZSI6IjBkOGI4MzQyLTc3MWEtNGZiYi1hNTYzLWY4OTM0ZDExODY4NyIsImdpdmVuX25hbWUiOiJNYXJ0aW4iLCJwaWN0dXJlIjoiaHR0cHM6XC9cL3Nzby1pbWFnZXMuczMuZXUtd2VzdC0xLmFtYXpvbmF3cy5jb21cL2V1LXdlc3QtMSUzQTA5MGM0NGZjLTI4N2EtNDI4NC1iZGNjLTg3Y2QzODk4NGVmZlwvWmxLa0VpeDByTUxGLmpwZWciLCJjdXN0b206cGFydG5lcl9waG9uZSI6InRydWUiLCJjdXN0b206Y2x1Yl9jb250YWN0IjoidHJ1ZSIsImF1ZCI6IjI2ZzBma2ViaHZiaDNrdHYzZ2Q1OXZjbmY3IiwiZXZlbnRfaWQiOiIwMDUxMzc4Yi0zOGZiLTExZTktOTg0Yi05YjU1YWU1MzEyYTkiLCJ0b2tlbl91c2UiOiJpZCIsImN1c3RvbTpjbHViX3Bob25lIjoidHJ1ZSIsInBob25lX251bWJlciI6Iis0NDA3ODEzODUzMDUyIiwiZmFtaWx5X25hbWUiOiJEdW5mb3JkIn0.NXLFigeMM5PkWZ4b56pxVpfE7Id4QU6ANwHjvgG5DhJsloKWvtHHkdv0hpH0b9KZDcPwf0CR5zGByoQ8ao5ovdu8fx2GX4P - Va0jgKWbzeFQ5URLtnS2kZyp2D84yFyR2VEbV7uYreMoj7lQEzwHQK_FdVECMlQub5rPNlDJrCHG0JU2V58FlSvEh_hFIBwTMOB8XMftwW4TQYP_GWhxrt_lOEjkK - aL4vuywXSQwm - MVebKexZ - T3jnk_RjtwN34BZ8xuapCJpV1xXDYRmm0t6clHOl2oR5apobey - DHYuwqn - y_AjLKBpMEA7oDZz8OQJ9MxosDcU05ymnq70p3A"
    var secretkey = "YTNOaGJXYzRNams9";
    var ssoBaseUrl = "http://localhost:3588/sso/start/";
}

<h2>Payments Client Application</h2>
<div class="samplearea">
    <label>sample Jwt Token:</label>
    <label class="text-muted"><small>@defaultJwtToken</small></label>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="section">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.JwtToken, htmlAttributes: new { @class = "col-form-label" })
                        @Html.EditorFor(m => m.JwtToken, new { htmlAttributes = new { @class = "form-control", @rows = 5, placeholder = "jwt token" } })
                        @Html.ValidationMessageFor(m => m.JwtToken)
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary" id="loginsubmit">login</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    console.log('jwt token:' + '@defaultJwtToken');



    $(function () {

        streamPayments.init({
            "jwtToken": '@defaultJwtToken',
            "language": "en"
        });


        $("#loginsubmit").click(function () {

            var newJwtToken = $("#JwtToken").val();

            console.log('new jwt token:'+newJwtToken);

            var jwtToken = "";
            if (newJwtToken == undefined || newJwtToken == "")
                jwtToken = '@defaultJwtToken';
            else
                jwtToken = newJwtToken;

            console.log('jwt token: ' + jwtToken);


            streamPayments.init({
                "jwtToken": jwtToken,
                "language": "en"
            });


            console.log("return url:"+'@returnUrl');

            var jwtstarturl = '@returnUrl' + '&token=' + jwtToken;

            console.log('jwt start url:' + jwtstarturl);
            //var emailaddress = $("#EmailAddress").val();
            //var password = $("#Password").val();

            //console.log("emailaddress:"+emailaddress);
            //console.log("password:"+password);

            //streamPayments.dologin()

            document.location.href = jwtstarturl;
        });
    });


</script>
